@import '../../../../styles.scss';

.container {
    margin: 5%;
}
.intro {
    margin-bottom: 2%;
    .welcome-message {
        font-weight: 500;
    }
    p {
        padding-left: 1%;
    }
}
.actions {
    a {
        background-color: $background-color;
        color: white;
        text-transform: uppercase;
        transition: background 0.1s linear;
        letter-spacing: 0.05rem;
        padding: .4rem 1rem;
        &:hover {
            background: darken($background-color, 6%);
        }
    }
}