<div class="container">
<mat-card  fxFlex="25">
  <mat-tab-group animationDuration="0ms" class="mat-group" >
    <mat-tab label="Login">
      <ng-template matTabContent>
        <mat-card>
          <form class="login-form" fxLayoutAlign="stretch" fxLayout="column" (submit)="loginUser()">
            <mat-form-field class="email">
              <mat-label>Email</mat-label>
              <input matInput type="email" [(ngModel)]="login_user.email" name="email">
            </mat-form-field>
            <mat-form-field class="password">
              <mat-label>Password</mat-label>
              <input matInput type="password" [(ngModel)]="login_user.password" name="password">
            </mat-form-field>
            <button mat-raised-button type="submit" color="primary">Login</button>
          </form>
        </mat-card>
      </ng-template>
    </mat-tab>
    <mat-tab label="Sign-up">
        <ng-template matTabContent>
            <mat-card>
              <form class="login-form" fxLayoutAlign="stretch" fxLayout="column" (submit)="createUser()">
                <mat-form-field class="first-name" >
                  <mat-label>First Name</mat-label>
                  <input matInput [(ngModel)]='registrationUser.firstName' name="firstName">
                </mat-form-field>

                <mat-form-field class="last-name">
                  <mat-label>Last Name</mat-label>
                  <input matInput [(ngModel)]='registrationUser.lastName' name="lastName">
                </mat-form-field>

                <mat-form-field class="email">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" [(ngModel)]='registrationUser.email' name="email">
                </mat-form-field>

                <mat-form-field class="pid">
                  <mat-label>PID</mat-label>
                  <input matInput [(ngModel)]='registrationUser.pid' name="pid">
                </mat-form-field>

                <mat-form-field class="password">
                  <mat-label>Password</mat-label>
                  <input matInput type="password" [(ngModel)]='registrationUser.password' name="password">
                </mat-form-field>

                  <button mat-raised-button type="submit" color="primary">Sign Up!</button>
              </form >
            </mat-card>
          </ng-template>
    </mat-tab>
  </mat-tab-group>
</mat-card>
</div>
