@import '../../../styles.scss';

mat-card {
    margin: 5% 10% 0% 10%;
    padding: 5%;
    color: white;
    background-color: $background-color;
    transition: background 0.1s linear;
    letter-spacing: 0.05rem;
    text-align: center;
    outline: none;
    &:hover {
        background-color: darken($background-color, 10%);
        cursor: pointer;
    }

    .previous {
        margin-top: none;
    }
}