<div class="container">
    <mat-card class="question-list" >
        <mat-card-title>There are {{questions.length}} questions</mat-card-title>
        <div class="question" *ngFor="let question of questions"  fxLayoutAlign="space-between">
            <p>{{question.question}}</p>
            <div class="question-actions" fxLayoutGap="20px">
                <button mat-mini-fab color="warn">
                    <span class="material-icons">
                        delete
                    </span>
                </button>
                <button mat-mini-fab><span class="material-icons">
                        edit
                    </span></button>

            </div>
        </div>
    </mat-card>
</div>